.users-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.user-card {
  padding: 1rem;

  background: rgba(121, 7, 7, 0.562);

  transition: all 0.3s ease;
}

.user-card:hover {
  box-shadow: rgba(240, 53, 46, 0.4) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px, rgba(141, 32, 32, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
